.container
	padding-left 150px

.parallax-container
	height 250px

#topLeft
	padding-left 250px

#map
	width 100%
	height 500px

#mapHome
	width 100%
	height 200px

#mapSelect
	width 100%
	height 300px

.bground
	background-image url('http://localhost:3000/imgs/SIIDAMANDARA2.png')
	height 600px
